.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #8a7f7e;
    opacity: 0.9;
}

.modal form {
    background-color: #665857;
    padding: 10px;
    border: 2px solid black;
    opacity: 1;
}

.a-button {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background: azure;
    width: 50px;
    text-align: center;
    height: 23px;
}
