.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(16, 100, 133, 0.5);
}

.modal form {
    background-color: #665857;
    padding: 10px;
    border: 2px solid black;
}
