@import url("./grid.css");

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    background: grey;
    margin: 0 auto;
    padding: 0px 5px 5px 5px;
}

.brick {
    margin: 5px;
    border: 1px solid black;
    width: calc(100% - 10px);
    height: calc(15vw - 10px);
    background-color: darkcyan;
}

.tall-brick {
    margin: 5px;
    border: 1px solid black;
    width: calc(100% - 10px);
    height: calc(45vw - 6px); /* какое-то неадекватное решение */
    background-color: darkcyan;
}

.slider {
    padding: 0;
    list-style-type: none;
    margin: 20px;
    position: relative;
    float: left;
}

.slider > li {
    display: none;
}

.slider > li.active {
    display: block;
}

.slider-label {
    font-size: 15px;
    color: chartreuse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
}
